.tooltip-Right 
{
    color: white;
    font: bold 15px Arial;
    position: relative;
    padding: 10px;
    background: #4679BD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.tooltip-Right:after 
{
    content: "";
    position: absolute;
    top: 12px;
    left: -23px;
    border-style: solid;
    border-width: 7px 23px 7px 0;
    border-color: transparent #4679BD;
    display: block;
    width: 0;
    z-index: 1;
}

.tooltip-Left 
{
    color: white;
    font: bold 15px Arial;
    position: relative;
    padding: 10px;
    background: #4679BD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.tooltip-Left:after 
{
    content: "";
    position: absolute;
    top: 12px;
    right: -23px;
    border-style: solid;
    border-width: 7px 0 7px 23px;
    border-color: transparent #4679BD;
    display: block;
    width: 0;
    z-index: 1;
}

.tooltip-Bottom 
{
    color: white;
    font: bold 15px Arial;
    position: relative;
    padding: 10px;
    background: #4679BD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.tooltip-Bottom:after 
{
    content: "";
    position: absolute;
    top: -23px;
    left: 12px;
    border-style: solid;
    border-width: 0 7px 23px;
    border-color: #4679BD transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.tooltip-Top 
{
    color: white;
    font: bold 15px Arial;
    position: relative;
    padding: 10px;
    background: #4679BD;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.tooltip-Top:after 
{
    content: "";
    position: absolute;
    bottom: -23px;
    left: 12px;
    border-style: solid;
    border-width: 23px 7px 0;
    border-color: #4679BD transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.productImage 
{
    height:240px;
    width:220px;
}